<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="sidebar-overlay theme-base-0c">
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <label for="sidebar-checkbox" class="sidebar-toggle"></label>

          <h3 class="masthead-title">
            <a href="{{site.baseurl}}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>
	  <div class="content-handler">
      <div class="container content" style="float: left; max-width: 43rem; margin: none; ">
        {{ content }}
      </div>
      <div class="social-cards">    
		<div class="g-person" data-href="https://plus.google.com/u/2/117923116100147904075" data-width="180" data-showcoverphoto="true"></div>
	  </div>
	  </div>
    </div>
  </body>
</html>
